{snippet}

	<div id="mdl-dialog-overlay" n:if="isset($message, $form)">
		<div id="mdl-dialog">
			<p class="msg">{$message}</p>

			{form $form, class => ajax}
				{control $form errors}
				{input delete, class => default} {input cancel, autofocus => TRUE}
			{/form}
		</div>
	</div>

{/snippet}
